{% extends "py_pro_app/base.html" %}



{% block content %}
<div class="container">
    <div class="card border-2 shadow my-3">
      <div class="card-body">
        {% for topic in topics %}
        {% comment %} <div class="container"> {% endcomment %}
          <div class="card-row border-0 shadow my-5">
            <div class="card bg-light">
              <div class="card-body text-center">
                <h5 class="card-title">{{ topic.title }}</h5>
                <hr>
                <p class="card-text">{{ topic.description }}</p>
                <a href="{% url 'get_qa' topic.title %}" class="btn btn-primary">Go to Q & A</a>
                <br>
              </div>
            </div>
          </div>
        {% comment %} </div> {% endcomment %}
        <br>
        {% endfor %} 
      </div>
    </div>
  </div>

{% endblock %}






