{% extends "py_pro_app/base.html" %}



{% block content %}



        

    <br>
        {% for topic in topics %}
      <div class="container">
        <div class="card-columns">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h5 class="card-title">{{ topic.title }}</h5>
              <hr>
              <p class="card-text">{{ topic.description }}</p>
              <a href="{% url 'get_qa' topic.id %}" class="btn btn-primary">Go to Q & A</a>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}


        
{% endblock %}






