{% extends "py_pro_app/base.html" %}
{% block content %}
{% if data %}
{% for x in data %}

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div>
                        {{ x.ques }}
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="without-block mb-0">
                        <p class='description'>{{ x.describ }}</p>
                        <button id ='button-{{x.id}}' type="button" class="btn btn-secondary buttom-toggle" onclick="showDiv({{x.id}})">Show Answer</button>
                        <hr>
                        <blockquote class="code-snip mb-0" id="full-{{x.id}}" style="display:none;">
                            <pre class='answer-code'><code class="python code-snip1">{{ x.code }}</code></pre>
                        </blockquote>
                        <hr>
                        <blockquote class="code-snip-text mb-0">
                            
                            <pre class='answer-text'><h3>Sample Output </h3><hr><code class="python">{{ x.answer }}</code></pre>
                        </blockquote>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="fw-light">Sorry, There is no questions in this Topic</h1>
        <p class="lead">We are working with this Topics</p>
        <div style="height: 500px"></div>
        <a href="{% url 'home' %}"><p class="lead mb-0">Go home</p></a>
      </div>
    </div>
</div>

{% endif %}
{% endblock %}