{% extends "py_pro_app/base.html" %}

{% block content %}

{% if data %}
{% for x in data %}

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body">
            {% comment %} <div class='container'> {% endcomment %}
                <div class="card">
                    <div class="card-header">
                        {{ x.ques }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ x.describ }}</p>
                            <hr>
                            <p>{{ x.code }}</p>
                            <footer class="blockquote-footer">{{ x.answer }}<cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
            <div style="height: 500px"></div>
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
</div>

{% else %}
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="fw-light">Sorry, There is no questions in this Topic</h1>
        <p class="lead">We are working with this Topics</p>

        <div style="height: 500px"></div>
        <a href="{% url 'home' %}"><p class="lead mb-0">Go home</p></a>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}